In [1]:
import numpy as np # unused
import pandas as pd
from sklearn import metrics # unused
import tensorflow as tf
import seaborn as sns # unused
pd.options.display.max_rows = 8 # will use 8 by default for count, mean, std ... max
pd.options.display.max_columns = 9
pd.options.display.float_format = '{:.6f}'.format
pd.set_option('mode.chained_assignment', None)

In [2]:
dataset = pd.read_csv("Dataset_Github_Labeled.csv")
# From DataFrame, split into features (x) and labels (y)
x= dataset.drop(['class'], axis=1)
y= dataset['class']
# change y in the csv file to be assigned to one of three classes: High-grade, Low-grade, Normal
for i in range (0,324): # 0 - 323, same size as x
    #print(type(y[i]))
    if y[i].startswith('High-grade'):  # if the last column contains text "High-grade", etc below.
        y[i] = 'High-grade'
    elif y[i].startswith('Low-grade'):
        y[i] = 'Low-grade'
    elif y[i].startswith('Normal'):
        y[i] = 'Normal'
# GIVES WARNINGS although it still works, see print below
# Warnings can be turned back on by deleting pd.set_option('mode.chained_assignment', None)
# print (y)

In [3]:
# Encode target variable (y)
from sklearn.preprocessing import LabelEncoder
lbl_encoder = LabelEncoder()
y= lbl_encoder.fit_transform(y)
# print(y) # shows how the classes are numerically assigned through this change, by 0,1, or 2

In [4]:
training, validation, test = np.split(dataset.sample(frac=1), [int(.6*len(dataset)), int(.8*len(dataset))]) # 60% test, 20% validation, 20% test split.

In [5]:
training

,1,2,3,4,...,1365,1366,1367,class
238,0.191843,0.188298,0.182412,0.178789,...,0.062225,0.048495,0.037861,Normal
33,0.073681,0.082348,0.089961,0.095978,...,0.057442,0.064273,0.070380,High-grade
141,0.204073,0.215486,0.226335,0.236797,...,0.016933,0.010608,0.008007,Low-grade
153,0.190668,0.196403,0.201382,0.207207,...,0.059336,0.062945,0.066211,Low-grade
...,...,...,...,...,...,...,...,...,...
237,0.100734,0.112816,0.119822,0.130305,...,0.043215,0.044122,0.035669,Normal
78,0.195834,0.184328,0.171552,0.165042,...,0.030852,0.032407,0.035504,High-grade
317,0.316860,0.314247,0.295287,0.290558,...,0.013001,0.015560,0.017928,Normal
263,0.144069,0.135506,0.125633,0.120525,...,0.047778,0.050111,0.052652,Normal

In [6]:
x_train = training.drop(['class'], axis=1)
y_train = training['class']

In [7]:
x_train

,1,2,3,4,...,1364,1365,1366,1367
238,0.191843,0.188298,0.182412,0.178789,...,0.071855,0.062225,0.048495,0.037861
33,0.073681,0.082348,0.089961,0.095978,...,0.055028,0.057442,0.064273,0.070380
141,0.204073,0.215486,0.226335,0.236797,...,0.025014,0.016933,0.010608,0.008007
153,0.190668,0.196403,0.201382,0.207207,...,0.055488,0.059336,0.062945,0.066211
...,...,...,...,...,...,...,...,...,...
237,0.100734,0.112816,0.119822,0.130305,...,0.035518,0.043215,0.044122,0.035669
78,0.195834,0.184328,0.171552,0.165042,...,0.031954,0.030852,0.032407,0.035504
317,0.316860,0.314247,0.295287,0.290558,...,0.010619,0.013001,0.015560,0.017928
263,0.144069,0.135506,0.125633,0.120525,...,0.045572,0.047778,0.050111,0.052652

In [8]:
x_validation=validation.drop(['class'], axis=1)
y_validation=validation['class']
x_test=test.drop(['class'], axis=1)
y_test=test['class']

In [9]:
x_test

,1,2,3,4,...,1364,1365,1366,1367
169,0.191091,0.198893,0.206270,0.213080,...,0.034206,0.030071,0.023533,0.017098
173,0.195567,0.193131,0.184625,0.170843,...,0.014556,0.014459,0.014499,0.014706
185,0.111332,0.114873,0.117872,0.120318,...,0.029639,0.029772,0.030524,0.031693
89,0.088604,0.092372,0.093712,0.091730,...,0.055907,0.056956,0.058025,0.059846
...,...,...,...,...,...,...,...,...,...
102,0.089652,0.099417,0.109833,0.117515,...,0.064052,0.059318,0.055584,0.052752
69,0.130541,0.120871,0.105857,0.096604,...,0.050788,0.053496,0.056046,0.059509
83,-0.013638,0.021348,0.072105,0.089022,...,0.056790,0.051927,0.050137,0.053479
270,0.085416,0.094431,0.102962,0.111197,...,0.039607,0.041640,0.043795,0.046090

In [10]:
del test, validation, training