In [2]:
import numpy as np # unused
import pandas as pd
from sklearn import metrics # unused
import tensorflow as tf
import seaborn as sns # unused
pd.options.display.max_rows = 8 # will use 8 by default for count, mean, std ... max
pd.options.display.max_columns = 9
pd.options.display.float_format = '{:.6f}'.format
pd.set_option('mode.chained_assignment', None)

In [3]:
dataset = pd.read_csv("Dataset_Github_Labeled.csv")
# From DataFrame, split into features (x) and labels (y)
x= dataset.drop(['class'], axis=1)
y= dataset['class']
# change y in the csv file to be assigned to one of three classes: High-grade, Low-grade, Normal
for i in range (0,324): # 0 - 323, same size as x
    #print(type(y[i]))
    if y[i].startswith('High-grade'):  # if the last column contains text "High-grade", etc below.
        y[i] = 'High-grade'
    elif y[i].startswith('Low-grade'):
        y[i] = 'Low-grade'
    elif y[i].startswith('Normal'):
        y[i] = 'Normal'
# GIVES WARNINGS although it still works, see print below
# Warnings can be turned back on by deleting pd.set_option('mode.chained_assignment', None)
# print (y)

In [4]:
# Encode target variable (y)
from sklearn.preprocessing import LabelEncoder
lbl_encoder = LabelEncoder()
y= lbl_encoder.fit_transform(y)
# print(y) # shows how the classes are numerically assigned through this change, by 0,1, or 2

In [6]:
training, validation, test = np.split(dataset.sample(frac=1), [int(.6*len(dataset)), int(.8*len(dataset))]) # 60% test, 20% validation, 20% test split.

In [7]:
training

,1,2,3,4,...,1365,1366,1367,class
323,0.323829,0.326826,0.328935,0.332586,...,0.000872,0.001406,0.002037,Normal
135,0.147581,0.164515,0.176026,0.165949,...,0.034832,0.040503,0.045805,High-grade
140,0.270699,0.286965,0.291545,0.277042,...,0.033354,0.005873,-0.012902,Low-grade
236,0.363051,0.370118,0.366459,0.350399,...,0.073413,0.065317,0.059131,Normal
...,...,...,...,...,...,...,...,...,...
67,0.118027,0.141175,0.165823,0.164317,...,0.021750,0.028117,0.033643,High-grade
188,-0.051014,0.019185,0.117008,0.141534,...,0.036454,0.027387,0.023346,Low-grade
194,0.851265,0.821646,0.754039,0.652738,...,-0.003240,0.000103,0.003543,Low-grade
141,0.204073,0.215486,0.226335,0.236797,...,0.016933,0.010608,0.008007,Low-grade

In [9]:
x_train = training.drop(['class'], axis=1)
y_train = training['class']

In [10]:
x_train

,1,2,3,4,...,1364,1365,1366,1367
323,0.323829,0.326826,0.328935,0.332586,...,0.000429,0.000872,0.001406,0.002037
135,0.147581,0.164515,0.176026,0.165949,...,0.033730,0.034832,0.040503,0.045805
140,0.270699,0.286965,0.291545,0.277042,...,0.061712,0.033354,0.005873,-0.012902
236,0.363051,0.370118,0.366459,0.350399,...,0.078820,0.073413,0.065317,0.059131
...,...,...,...,...,...,...,...,...,...
67,0.118027,0.141175,0.165823,0.164317,...,0.016706,0.021750,0.028117,0.033643
188,-0.051014,0.019185,0.117008,0.141534,...,0.047942,0.036454,0.027387,0.023346
194,0.851265,0.821646,0.754039,0.652738,...,-0.006467,-0.003240,0.000103,0.003543
141,0.204073,0.215486,0.226335,0.236797,...,0.025014,0.016933,0.010608,0.008007

In [11]:
x_validation=validation.drop(['class'], axis=1)
y_validation=validation['class']
x_test=test.drop(['class'], axis=1)
y_test=test['class']

In [12]:
x_validation

,1,2,3,4,...,1364,1365,1366,1367
36,0.071380,0.079984,0.086624,0.089424,...,0.092333,0.089912,0.086242,0.084366
5,0.082293,0.099179,0.113401,0.117548,...,0.065150,0.067206,0.069322,0.071557
168,0.229617,0.228739,0.224650,0.223053,...,0.046677,0.048636,0.050665,0.052813
167,0.149028,0.181627,0.207165,0.213775,...,0.042217,0.046006,0.048826,0.050692
...,...,...,...,...,...,...,...,...,...
157,0.083226,0.095816,0.109744,0.116229,...,0.027062,0.022339,0.024899,0.028336
99,0.058636,0.058406,0.061448,0.094260,...,0.039416,0.046189,0.047670,0.047598
258,0.302475,0.310377,0.310314,0.297944,...,0.081661,0.074244,0.071173,0.069230
60,0.222215,0.249917,0.280843,0.273484,...,0.051279,0.038492,0.021441,0.014398

In [13]:
x_test

,1,2,3,4,...,1364,1365,1366,1367
152,0.195399,0.202854,0.209624,0.215787,...,0.043638,0.045257,0.046604,0.047965
34,0.027897,0.056976,0.072068,0.086941,...,0.090460,0.090192,0.091747,0.091453
189,-0.073533,0.152062,0.162911,0.220285,...,0.028527,0.033569,0.038808,0.043958
307,0.216846,0.200333,0.180776,0.166038,...,0.024213,0.019171,0.015558,0.014227
...,...,...,...,...,...,...,...,...,...
107,0.024094,0.027647,0.030579,0.034750,...,0.066979,0.064358,0.062940,0.063657
149,0.142168,0.153778,0.165163,0.170241,...,0.060897,0.051098,0.040065,0.033220
133,0.156343,0.145846,0.133291,0.122158,...,0.038727,0.040626,0.042750,0.045293
50,0.028143,0.038318,0.048427,0.058604,...,0.084709,0.087025,0.095048,0.102913